@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    /* min-height: 100vh; */
    /* position: relative; */
    /* padding: 0px 5%; */
    font-size: 14px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    background-color: #fff;
    font-family: 'Outfit', sans-serif;
    /* background-image: url(./images/bg.png);
    background-repeat: no-repeat;
    background-size: cover; */
}
h1{
    font-size: 3rem;
}
.logo{
    width: 150px;
}
.body-wrapper{
    padding: 0px 5%;
    width: 100%;
    margin: 0;
}
.colored-wrapper{
    padding: 0px 5%;
    width: 100%;
    margin: 0;
    background:#2463231c ;
}
.wrapper{
    max-width: 1088px;
    margin-left: auto;
    margin-right:auto;
    /* position: relative; */
}
nav{
    position: fixed;
    width: 100%;
    font-size: 1.2rem;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
    background-color: #fff;
    box-shadow: 0 0 1px 1.2px rgb(138 138 138 / 10%);
}
nav a{
    text-decoration: none;
    color: #000;
}
nav a:hover{
    color: #1F541E;
}
nav ul li{
    display: inline-block;
    margin: 0px 20px;
}
.request {
    padding: 15px;
    background: #1F541E;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}
.hero{
    display: flex;
    justify-content: space-between;
    padding: 120px 0px;
   
    
}
.left-hero{
    /* background-color: #1F541E; */
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: auto 0px;
    font-size: 20px;
    /* align-items: center; */
}
.left-hero p{
    width: 400px;
    margin: 10px 0px;
   
}
.left-hero h1{
    width:70% ;
    margin: 20px 0px;
    /* font-size: 42px; */
}
.left-hero a{
    max-width: 165px;
    margin-top:50px ;
}
.right-hero{
   
}
.right-hero img{
    max-width: 450px;
    width: 450px;
    max-height: 500px;
    height: 500px;
    border-radius: 20px;
}

.sponsors{
    /* background-color: #1F541E; */
    padding: 120px 30px;
    display: flex;
    /* border-bottom: 3px solid #1F541E; */
    /* border-top: 3px solid #1F541E; */ */
}
.sponsor-logo{
    width: 200px;
}
.sponsor-logo img{
    width: 100%;
}


.solution{
    padding: 60px 0px 60px 0px;
   
}
.solution-description{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.solution-description h2{
    width: 40%;
    font-size: 2.8rem;
    font-weight: 400;
    color: #1F541E;
}

.solution-description p{
    width: 40%;
    font-size: 1.4rem;
    /* margin-left: 30px; */
}
.solution-img{
    width: 50%;
    margin: 30px auto;
}
.solution-img img{
    width: 100%;
}

.vision{
    border-top: 2px solid #1F541E;
    display: flex;
    flex-direction: column;
    padding: 60px 0px;
    
    /* background-color: #1F541E; */
}
.vision-row{
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
}
.mission-row{
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    flex-direction: row-reverse;
}
.vision-description{
    /* text-align: center; */
    /* background-color: #1F541E; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.vision-description p{
    font-size: 1.4rem;
    width: 50%;
}
.vision-img{
    max-width:250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vision-img img{
    width: 100%;
}

.story{
    padding: 60px 0px;
}
.story h1{
    
    margin-bottom: 25px;
    color: #1F541E;
}
.story p{
    padding: 0px 30px;
    font-size: 1.6rem;
    width: 70%;
    line-height: 2.2rem;
}

.team-row{
    display: flex;
    justify-content: space-between;
}
.team-container{
    display: flex;
}

.team {
    padding: 60px 0px;
}
.team h1{
    margin: 20px 0px;
    color: #1F541E;
}
.profile-container{
    width: 250px;
    margin: 10px;
   
}
.image-container{
    width: 100%;

    
}
.image-container img{
    width: 100%;
    border-radius: 20px;
    /* height: 100%; */
}
.profile-details{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.profile-title-container {
    display: flex;
    align-items: center;
}

.profile-title-container a{
    margin-left:auto;
    color: #1F541E;
    font-size: 1.1rem;
}
.profile-name{
    font-size: 1.4rem;
    font-weight: 500;
}
.profile-title{
    font-size: 1.2rem;
    font-weight: 300;
}

.subscribe{
    text-align: center;
    border-top: 2px solid #1F541E;
    padding: 60px 0px;
}
.subscribe h2{
    font-size: 2.8rem;
    font-weight: 400;
}
.subscribe p{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
    font-size: 1.4rem;
}

.form{
    margin: 20px;
}
.form input{
    padding: 10px;
    font-size: 1.4rem;
    font-family: inherit;
    outline: none;
    border: 2px solid #1F541E;
}
.form button{
    padding: 10px;
    font-size: 1.4rem;
    font-family: inherit;
    border: 2px solid #1F541E;
    background: #1F541E;
    color: #fff;
}










nav .logo-container i{
    color: #1F541E;
    margin-right:10px ;
}
nav .logo{
    color: #1F541E;
    /* font-size: 28px; */
    font-weight: 600;
}
nav .socials{
    font-size: 18px;
}
nav .socials a{
    text-decoration: none;
    color:#fff;
    padding: 0px 10px;
   
}

.main{
    display: flex;
    flex-direction: column;
    color: #fff;
    margin: auto 0px;
}
.main h1{
    max-width: 500px;
    margin-bottom: 20px;
    font-size: 48px;
}

.main p{
    max-width: 500px;
    margin: 20px 0px;
}
.main .request-container{
    margin: 20px 0px;
}
.main .request-container span{
    border-bottom: 2px solid #fff;
    margin-right: 15px;
    padding: 5px 5px;
}
.main .request-container a{
    padding: 15px;
    background: #1F541E;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
   
    
}
.footer{
    /* background-color: aliceblue; */
    text-align: center;
    /* margin-top: auto; */
    padding: 60px 0px;
    font-size: 1.3rem;
    /* color: #fff; */
}
.footer-about{
    text-align: start;
}
.footer-about p{
    padding: 10px 0px;
    width: 150px;
}

.footer-nav li{
    list-style: none;
    padding: 5px 0px;
}
.footer-nav a{
    text-decoration: none;
    color: black;
}
.footer-nav a:hover{
    color: #1F541E;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.footer-contact{
    text-align: start;
}
.footer-contact ul li{
    display: inline-block;
    padding-right: 10px;
}
.footer-contact a{
    text-decoration: none;
    color: #000;
}
.footer-contact a:hover{
    color: #1F541E;
}





@media only screen and (max-width: 600px) {
   
    .main h1{
        font-size: 28px;
    }
    nav .request a{
        display: none;
    }
    .footer{
        font-size: 12px;
    }
  }

  @media only screen and (max-width: 280px) {
    nav .logo{
        font-size: 12px;
    }
    nav .socials{
        font-size: 14px;
    }

    .main h1{
        font-size: 24px;
    }
    .main p{
        font-size: 12px;
    }
    nav .request a{
        display: none;
    }
    .main .request-container span{
        font-size: 12px;
        margin-right: 10px;
        border-bottom: 1px solid #fff;
    }
    .main .request-container a{
        font-size: 12px;
        padding: 10px;

    }
    .footer{
        font-size: 10px;
    }
  }