.hero{
    display: flex;
    justify-content: space-between;
    padding: 120px 0px;    
}
.left-hero{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: auto 0px;
}
.left-hero h1{
    margin-top: 20px;
    padding: 20px 0px 20px 0px;
}
.left-hero p{
    max-width: 400px;
    margin: 10px 0px;
   
}
.left-hero a{
    margin-right: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid var(--primary);
    color: var(--primary);
    cursor: pointer;
    transition:all 0.2s ease-in;
}
.left-hero a:hover{
    background-color: var(--primary);
    color: #fff;
}
.right-hero {
    display: flex;
    align-items: center;
    justify-content: stretch;
}
.right-hero img{
    max-width: 450px;
    max-height: 450px;
    border-radius: 20px;
} 

@media only screen and (max-width: 800px) {
    .hero{
        flex-direction: column-reverse;
        /* font-size: 16px; */
    }
    .right-hero img{
        max-width: 100%;
    }

    .left-hero h1{
        margin: 20px 0px;
        font-size: 2.8rem;
    }
}

@media only screen and (max-width: 350px) {
    .left-hero h1{
        margin: 20px 0px;
        
    }
}


