
.team {
    padding: 60px 0px;
}

.team-row{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.team-container{
    display: flex;
    justify-content: space-around;
    /* justify-content: ; */
}

.profile-container{
    width: 250px;
    margin: 10px;
   
}
.image-container{
    width: 100%;
}
.image-container img{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    /* height: 100%; */
}
.profile-details{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

.profile-title-container {
    display: flex;
    align-items: center;
}

.profile-title-container a{
    margin-left:auto;
    color: var(--primary);
    font-size: 1.1rem;
}
.profile-name{
    font-size: 1.2rem;
    font-weight: 500;
}
.profile-title{
    font-size: 1.0rem;
    font-weight: 300;
}

@media only screen and (max-width: 800px) {
 
}

@media only screen and (max-width: 450px) {    
    .team-container{
        flex-direction: column;
        align-items: center;
    }
}